<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Seek</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.12.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>217</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false />
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>org.inaturalist.inaturalist</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
		<key>NSExceptionDomains</key>
		<dict />
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera so you can get identifications of your nature photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to suggest plants and animals to find near you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to suggest plants and animals to find near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to suggest plants and animals to find near you.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We use the photo library so you can get identifications of your nature photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use the photo library so you can get identifications of your nature photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Whitney-Medium-Pro.otf</string>
		<string>Whitney-Semibold-Pro.otf</string>
		<string>Whitney-Book-Pro.otf</string>
		<string>Whitney-BookItalic-Pro.otf</string>
		<string>Whitney-Light-Pro.otf</string>
		<string>Whitney-SemiboldItalic-Pro.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCapturePhoto</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Seek AR Camera</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).CameraAction</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true />
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
